version: 2.1

orbs:
  ruby: circleci/ruby@1.0 

jobs:
  test:
    docker:
      - image: circleci/ruby:2.6
    steps:
      - checkout 
      - bundle install
      - ruby/rspec-test

workflows:
  version: 2
  test:
    jobs:
      - test
